<ion-content class="ion-padding" >
  <!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <h1>
    PARKING MAP
  </h1>
  <ion-card>
    <ion-card-content>
      
      <ion-button expand="block" color="primary" (click)="funcionMapa()">Add marker</ion-button>
      <ion-button expand="block" fill="clear" routerLink="/home" routerDirection="backwad">Delete marker</ion-button>
      <div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
