<ion-content class="ion-padding" >
  <h1>
    REGISTER
  </h1>
  <ion-card>
    <ion-card-content>
      <ion-list class="ion-no-border">

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefono</ion-label>
          <ion-input type="number" [(ngModel)]="telefono"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Placas</ion-label>
          <ion-input type="text" [(ngModel)]="placas"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>

        <br>
          <input position="floating" type="file" accept=".png, .jpg" (change)="onUpload($event)">
        <br>
        <br>


        <input #imageUser type="hidden" [value]="urlImage | async">

      </ion-list>

      <ion-button *ngIf="urlImage | async; else btnDisabled"
      expand="block" color="primary" (click)="onAddUser()">Save</ion-button>
      <ng-template #btnDisabled>
        <ion-button expand="block" color="secondary" disabled=true (click)="register()">Save</ion-button>
      </ng-template>

      <ion-button expand="block" 
        fill="clear" routerLink="/home" routerDirection="backwad">Back
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>